.container {
    width: 9rem;
    height: 18rem;
    border: 1px solid rgba(59, 59, 59, 0.398);
    margin: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 0px 5px rgba(59, 59, 59, 0.398);
    border-radius: 5px;
    .content {
        width: 100%;
        height: 82%;
        border-bottom: 1px solid rgba(128, 128, 128, 0.49);
        &::before {
            content: "Click More Details";
            width: 9.1rem;
            height: 12rem;
            justify-content: center;
            font-size: 0.8rem;
            align-items: center;
            position: absolute;
            color: rgb(255, 255, 255);
            border-radius: 5px 5px 0px 0px;
            background-color: rgba(0, 0, 0, 0.69);
            backdrop-filter: blur(3px);
            display: none;
        }
        &:hover::before {
            box-shadow: 0px 0px 15px rgba(79, 79, 79, 0.866);
            cursor: pointer;
            display: flex;
        }
        img {
            border-radius: 5px 5px 0px 0px;
            width: 100%;
            height: 12rem;
        }
        .title {
            margin: 0px 5px;
            font-size: 1.5vh;
            text-align: center;
            height: 2.1rem;
            overflow: hidden;
            &:hover {
                cursor: pointer;
            }
        }
    }
    .price {
        font-size: 1.7vh;
        height: 10%;
        display: flex;
        align-items: center;
        span {
            font-size: 1.5vh;
            padding: 0.2rem;
            background: rgb(0, 96, 0);
            color: rgba(255, 255, 255, 0.686);
            box-shadow: 1px 1px 2px rgb(0, 0, 0);
            border-radius: 5px;
            margin-left: 1rem;
            &:hover {
                background: rgb(0, 163, 0);
                cursor: pointer;
                color: rgb(255, 255, 255)
            }
        }
    }
}
