.category{
    margin-right: 8vw;
    margin-top: 2vh;
    max-height: 48vh;
    width: 15%;
    border-radius: 10px;
    text-align: center;
    h4{
        margin: 1vh;
        
    }
    h5{
        margin: 1vh;
        border: 1px solid rgba(78, 78, 78, 0.515);
        background: rgba(0, 0, 0, 0.079);
        border-radius: 5px;
        padding: 1vh;
        font-size: 1vw;
        &:hover{
            background-color: rgba(5, 154, 254, 0.153);
            cursor: pointer;
        }
    }
}