.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 20%;
    span{
        margin-top: 5px;
    }
    .searchBar {
        width: 70%;
        height: 5vh;
        margin: auto;
        outline: 1px solid rgba(0, 0, 0, 0.186);
        border: none;
        border-radius: 10px;
        font-size: 1.1vw;
        text-indent: 5px;
        transition: 0.2s all ease-in-out;
        background-color: rgba(19, 39, 64, 0.041);
        &:focus-within {
            box-shadow: 0px 0px 2px 2px rgba(57, 57, 57, 0.6);
        }
    }
    
    .login {
        width: 70%;
        height: 50%;
        margin: auto;
        outline: 1px solid rgba(0, 0, 0, 0.186);
        border: none;
        border-radius: 10px;
        font-size: 1.1vw;
        text-indent: 5px;
        transition: 0.2s all ease-in-out;
        background-color: rgba(19, 39, 64, 0.041);
        &:focus-within {
            box-shadow: 0px 0px 2px 2px rgba(57, 57, 57, 0.6);
        }
    }
    .error{
        font-size: 1.2vh;
        height: 10px;
        text-align: center;
        color: rgba(235, 62, 62, 0.763);
        font-weight: bolder;
    }
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100% !important;
    height: 10vh !important;
    border-bottom: 1px solid rgba(78, 78, 78, 0.515);
    .homeSearch{
        background: rgba(0, 0, 0, 0.075);
        width: 70%;
        height: 4vh;
        margin-top: 1.7rem;
        outline: none;
        border: none;
        font-size: 1vw;
        text-indent: 1vw;
        border-radius: 10px;
        &:focus-within{
            box-shadow: 0px 0px 10px rgba(135, 135, 135, 0.6) ;
        }
    }
}

.count {
    display: flex;
    width: 20%;
    input {
        width: 10vh;
        text-align: center;
        outline: 1px solid rgba(0, 0, 0, 0.186);
        border: none;
        border-radius: 10px;
        font-size: 1.1vw;
        transition: 0.2s all ease-in-out;
        background-color: rgba(19, 39, 64, 0.041);
    }
}
.reg{
    width: 100%;
    height: 13%;
    .register{
        width: 70%;
        height: 5vh;
        margin: 0px auto;
        outline: 1px solid rgba(0, 0, 0, 0.186);
        border: none;
        border-radius: 10px;
        font-size: 1.1vw;
        text-indent: 5px;
        transition: 0.2s all ease-in-out;
        background-color: rgba(19, 39, 64, 0.041);
        &:focus-within {
            box-shadow: 0px 0px 2px 2px rgba(57, 57, 57, 0.6);
        }
    }
}
@media (max-width: 928px) {
    .container {
        .login {
            height: 50%;
            font-size: 3vw;
        }
    }
}
