.container {
  width: 93%;
  height: 90%;
  padding: 10px 10px 0 10px;
  border-radius: 10px;
  .bookInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    img {
      width: 10vw;
      border: 1px solid rgba(128, 128, 128, 0.49);
      padding: 5px;
      border-radius: 10px;
      font-size: 1.1vw;
      text-indent: 5px;
      transition: 0.2s all ease-in-out;
    }
    form {
      width: 100%;
      height: 100%;
      margin-right: 0;
      justify-content: space-between;
    }
  }
  .backBttn {
    margin-bottom: 10px;
    background-color: rgb(202, 115, 39);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
    padding: 5px 20px;
    color: black;
    font-weight: bolder;
    border-radius: 5px;
    &:hover {
      background-color: rgba(5, 154, 254, 0.838);
      color: rgba(240, 248, 255, 0.595);
    }
  }
}
