.container {
    .bookList {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style: none;
        div {
            border: 1px solid white;
            img {
                width: 6vw;
                height: 15vh;
            }
        }
    }
}
