.container{
    border: 1px solid white;
    .bookList{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        list-style: none;
        img{
            width: 100%;
            height: 15vh;
        }
    }
}