.container {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: sticky;
    background: rgba(5, 154, 254, 0.478);
    top: 0;
    height: 4.5rem;
    background-image: url("../../assets/pattern.png");
    background-repeat: repeat;
    background-size: contain;
    transition: 0.2s all ease-in-out;
    backdrop-filter: blur(10px);
    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 84%;
        .content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 5%;
            height: 8vh;

            .logo {
                width: 90%;
                height: 3vh;
            }
            h3 {
                font-size: 1.3vh;
                font-family: "Kaushan Script", cursive !important;
                margin: 0;
            }
        }
        .switch {
            display: flex;
            justify-content: flex-end;
            margin-right: 0px;
            align-items: center;
            height: 100%;
            a{
                text-decoration: none;
                color: rgb(0, 0, 0);
                margin-left: 1rem;
                font-size: 1.2rem;
                font-weight: bolder;
                &:hover {
                    cursor: pointer;
                    color: rgba(255, 255, 255, 0.677);
                }
            }
        }
    }
}
@media (max-width: 928px) {
    .container {
        .navbar{
            .switch{
                a{
                    font-size: 0.8rem;
                }
            }
            .content {
                width: 20%;
                height: 10.5vh;
                .logo {
                    width: 100%;
                    height: 50%;
                }
            }
        }
    }
}
