.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: sticky;
    background: rgba(5, 154, 254, 0.478);
    top: 0;
    background-image: url('../../assets/pattern.png');
    background-repeat: repeat;
    background-size:contain;
    transition: 0.2s all ease-in-out;
    backdrop-filter: blur(10px);
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 8vh;
        .logo {
            width: 15%;
            height: 3vh;
        }
        h3 {
            font-size: 1.3vh;
            font-family: "Kaushan Script", cursive !important;
            margin: 0;
        }
        
    }
    .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 20%;
        h4{
            &:hover{
                cursor: pointer;
                color: rgba(26, 26, 26, 0.677);
            }
        }
    }
}
@media (max-width: 928px) {
    .container {
        .content {
            height: 10.5vh;
            .logo {
                width: 60%;
                height: 50%;
            }
        }
    }
}
