.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s all ease-in-out;
    background: rgba(203, 31, 255, 0.348) !important;
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 20%;
        height: 8vh;
        .logo {
            width: 15%;
            height: 3vh;
        }
        h3 {
            font-size: 1.3vh;
            font-family: "Kaushan Script", cursive !important;
            margin: 0;
        }
        
    }
    .switch {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 20%;
        a{
            &:hover{
                cursor: pointer;
            }
        }
    }
}
@media (max-width: 928px) {
    .container {
        .content {
            height: 10.5vh;
            .logo {
                width: 60%;
                height: 50%;
            }
        }
    }
}
