.manage {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 27%;
    height: 100%;
    align-items: flex-end;
    padding-top: 10px;
    span {
        margin-right: 10px;
        margin-top: 0px;
    }
    button {
        border-radius: 10px;
        background-color: rgb(27, 172, 27);
        width: 10vh;
        padding: 5px;
    }
    .subManage {
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}