.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-right: 1.3vw;
    position: relative;
    width: 51.2%;
    min-height: 87.5vh;
    margin-top: 2vh;
    border-radius: 10px;
}
