.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 1.3vw;
    width: 53%;
    margin-top: 2vh;
    border-radius: 10px;
}
.category{
    margin-right: 8vw;
    margin-top: 2vh;
    width: 15%;
    height: 15vh;
    border-radius: 10px;
}