body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
body::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(29, 26, 39, 0.44);;
}
body::-webkit-scrollbar-thumb {
  background: rgba(5, 154, 254, 0.478);
  border-radius: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
