.container {
    width: 100%;
    display: flex;
    height: 50%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5vh;
    border-radius: 10px;
    h4{
        border-bottom: 1px solid rgba(128, 128, 128, 0.597);
        width: 100%;
        text-align: center;
        margin: 0px;
        padding: 8px 0px ;
        margin-bottom: 1rem;
        text-shadow: 0px 0px 5px gray ;
    }
    .element {
        display: flex;
        width: 61%;
        border-radius: 10px;
        height: 82%;
        overflow: hidden;
        box-shadow: 0px 0px 10px rgba(121, 121, 121, 0.574);
        .content {
            display: flex;
            animation-name: slide;
            animation-duration: 30s;
            animation-iteration-count: infinite;
            transition: ease-in-out;
            width: 100%;
            height: 100%;
            position: none !important;
            img {
                width: 175px;
                height: 15rem;
            }
            h5{ 
                width: 80%;
                margin: auto;
                margin-top: 0px;
                border-bottom: none;
            }
        }
    }
}

@keyframes slide {
    10%{transform: translateX(0px);}
    20%{transform: translateX(-175px);}
    30%{transform: translateX(-350px);}
    40%{transform: translateX(-525px);}
    50%{transform: translateX(-700px);}
    60%{transform: translateX(-700px);}
    70%{transform: translateX(-525px);}
    80%{transform: translateX(-350px);}
    90%{transform: translateX(-175px);}
    100%{transform: translateX(0px);}
}